.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid rgb(218, 218, 218);
    background-color: white;
    border-radius: 5px;
    align-items: center;
    padding: 25px;
}
.Card-container-img {
    display: flex;
    justify-content: center;
}
.Card-img {
    width: 60%;
    border-radius: 50%;
}
.Card-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: inherit;
}
.Card-arrow {
    width: 25px;
    height: auto;
    margin-right: 5px;
}
.Card-notsearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    height: 255px;
    width: 200px;
    border: 1px solid rgb(218, 218, 218);
    background-color: white;
    border-radius: 5px;
    align-items: center;
    padding: 60px;
}